* {
    padding: 0;
    margin: 0;
} body {
    font-family: "Roboto";
    background-color: white;
    color: #000;
    height: 100vh;
    max-height: fit-content;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
} h1 {
    margin: 10px;
} .body {
    margin-top: 10px;
} input, select {
    margin-top: 10px;
    padding: 4px;
    border: solid 1px black;
    border-radius: 10px;
    width: 255px;
} .navbar {
    position: sticky;
    z-index: 2;
    top: 0;
    padding: 0;
    margin: 0;
    height: 60px;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
} button {
    margin-top: 20px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
} .bodyBtn {
    padding: 5px;
    margin: 5px;
    width: 100px;
    border-radius: 5px;
    background: #000;
    color: white;
} .alert {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out;
} .fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
} .fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;
} @keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
} @keyframes fadeOut {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
} textarea {
    margin: 5px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 10px;
    width: 255px;
    height: 100px;
    font-family: "Roboto";
    font-size: 14px;
} .pimg {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 5px;
    border: double 4px black;
    background-color: white;
} .plist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
} .pcard {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    height: fit-content;
    width: 200px;
    background: #fff;
    box-shadow: 0 20px 30px #000;
    transition: all 0.75s ease;
} .pcard:hover {
    background: linear-gradient(to bottom right, #fff, whitesmoke, #999);
    box-shadow: 0 10px 20px #000;
    transform: scale(1.025) translateY(-10px);
    transition: all 0.75s ease;
} .clist {
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
} .icard:hover {
    background: rgb(200, 200, 200);
} .icard {
    width: 100vw;
    display: flex;
    border-bottom: 2px solid black;
    border-radius: 10px;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
} .pinfo {
    display: flex;
    flex-direction: column;
} .cimg {
    width: 130px;
    height: 80px;
    border-radius: 5px;
    margin: 5px;
    border: double 4px black;
} .a2cBtn {
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    transform: translateX(-20%);
} .pinfo h3 {
    left: 150px;
    position: absolute;
} .price {
    left: 150px;
    position: absolute;
    margin-top: 20px;
    text-align: left;
} .description {
    left: 150px;
    position: absolute;
    text-align: left;
    margin-top: 40px;
    height: fit-content;
    width: 70vw;
    overflow-y: auto;
} .search {
    position: sticky;
    top: 70px;
    z-index: 2;
} .productImg {
    height: 35vw;
    width: 35vw;
} .productInfo {
    position: absolute;
    left: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
} @media only screen and (max-width: 769px) {
    .description {
        display: none;
    } .a2cBtn {
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: -10px;
    }
}